* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url("images/noar.jpg");
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:  center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    cursor: pointer;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;

}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

.navbar ul li:hover::after {
    width: 100%;
}

.about {
    width: 100%;
    padding: 50px 0px;
}

.about-text {
    width: 800px;
}
.main {
    width: 1430px;
    max-width: 95%;
    margin:  0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1 {
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 25px;
}
.about-text h5 {
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span {
    color: rgb(255, 161, 106);
}
.about-text p {
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 3px;
    line-height: 25px;
    margin-bottom: 45px;
    text-align: justify;
}
button {
    background: transparent;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid;
    font-weight: bold;
    font-size: 15px;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(26, 25, 25);
    border: 1px solid #ffffff;
    cursor: pointer;   
}

footer{
    background-color: black;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i {
    font-size: 30px;
    color: rgb(0, 0, 0);
    opacity: 0.9;
}
.socialIcons a:hover {
    background-color: rgb(81, 81, 82);
    transition: 0.5s;
}
.socialIcons a:hover i {
    color: white;
    transition: 0.5s;
}

.footNav ul li a:hover{
    opacity: 1;
}
.footerButtom {
    bottom: 0;
    background-color: #000000;
    padding: 20px;
    text-align: center;
}
.footerButtom p{
    color: white;
}